.logging {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.loggingInput {
  font-size: 2rem;
  border-radius: 20px;
  background-color: #383a40;
  color: white;
  width: 55vw;
  text-align: center;
  min-width: 324px;
  border: none;
  padding: 10px 0px;
  max-width: 400px;
}
.joinButton {
  background-color: #383a40;
  color: white;
  border-radius: 20px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 30px;
}

.wisperLogo {
  height: 400px;
}
