.containerConversation {
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
