.containerEmoji {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  min-height: 550px;
  gap: 5px;
  border: solid 1px black;
  border-radius: 15px;
  position: absolute;
  bottom: 5vh;
  right: 13vw;
}
.none {
  display: none;
}

.emote {
  border: none;
  background-color: transparent;
  height: 10px;
  font-size: 1.3rem;
}
.buttonEmoteMenu {
  background-color: transparent;
  font-size: 1.7rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  cursor: pointer;
}

.emoteButtonContainer {
  display: flex;
  align-items: center;
}
