#messageComposer {
  display: flex;
  justify-content: center;
  width: 75vw;
  background-color: #383a40;
  border-radius: 15px;
}

.messageInput {
  width: 100vw;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 0px;
  font-size: 1rem;
}

.sendButton {
  background-color: transparent;
  border-right: solid black;
  border-left: solid black;
  border-top: none;
  border-bottom: none;
  color: white;
  cursor: pointer;
}
