#chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  color: white;
}

body {
  background-color: #252526;
  color: white;
}

input:focus {
  outline: none;
}
